html{
    box-sizing:border-box;
    justify-content: center;
}
*,*:before,*:after{
    box-sizing:inherit
}
html{
    -ms-text-size-adjust:100%;-webkit-text-size-adjust:100%
}
html{
    overflow-x:hidden;
    justify-content: center;
}
h1{
    font-size:36px
  }
.serif{
    font-family:serif
         }
.sans-serif{
    font-family:sans-serif
}
hr{
    border:0;border-top:1px solid #ff5e00;margin:20px 0
}
.image{
    max-width:100%;height:auto
}
img{
    vertical-align:middle;
}
a{
    color:inherit
}
.btn,.button{
    border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap
}
.btn:hover{
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
}
.btn,.button{
    -webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none
}   
.disabled,.btn:disabled,.button:disabled{
    cursor:not-allowed;opacity:0.3
}
.badge{
    border-radius:50%
}
.bar-block .dropdown-hover,.bar-block .dropdown-click{
    width:100%
}
.bar-block .dropdown-hover .dropdown-content,.bar-block .dropdown-click .dropdown-content{
    min-width:100%
}
.bar-block .dropdown-hover .button,.bar-block .dropdown-click .button{
    width:100%;text-align:left;padding:8px 16px
}
.modal{
    z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)
}
.modal-content{
    margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px
}
.bar{
    width:100%;overflow:hidden
}
.center .bar{
    display:inline-block;width:auto
}
.bar .bar-item{
    padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0
}
.bar .dropdown-hover,.bar .dropdown-click{
    position:static;float:left
}
.bar .button{
    white-space:normal
}
.bar-block .bar-item{
    width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0
}
.bar-block.center .bar-item{
    text-align:center
}
.block{
    display:block;width:100%
}
.responsive{
    display:block; overflow-x:auto
}
.container:after,.container:before,.panel:after,.panel:before,.row:after,.row:before,.row-padding:after,.row-padding:before,
.cell-row:before,.cell-row:after,.clear:after,.clear:before,.bar:before,.bar:after{
    content:"";display:table;clear:both
}
.col,.half,.third,.twothird,.threequarter,.quarter{
    float:left;width:100%
}
.col.s1{
    width:30%
}
.col.s2{
    width:49.99999%
}
.col.s3{
    width: 99,99999%;
}
@media (max-width:1205px){
    .container .center .image {min-width: 100%;}
}

.top,.bottom{
    position:fixed;width:100%;z-index:1
}
.top{
    top:0
}
.bottom{
    bottom:0
}
.overlay{
    position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2
}
.display-topleft{
    position:absolute;left:0;top:0
}
.display-topright{
    position:absolute;right:0;top:0
}
.display-bottomleft{
    position:absolute;left:0;bottom:0
}
.display-bottomright{
    position:absolute;right:0;bottom:0
}
.display-middle{
    position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)
}
.display-left{
    position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)
}
.display-right{
    position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)
}
.display-topmiddle{
    position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)
}
.display-bottommiddle{
    position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)
}
.display-container:hover .display-hover{
    display:block
}
.display-container:hover span.display-hover{
    display:inline-block
}
.display-hover{
    display:none
}
.display-position{
    position:absolute
}
.round-small{
    border-radius:2px
}
.round,.round-medium{
    border-radius:4px
}
.round-large{
    border-radius:8px
}
.round-xlarge{
    border-radius:16px
}
.round-xxlarge{
    border-radius:32px
}
.container,.panel{
    padding:0.01em 8px
}
.small{
    font-size:12px!important
}
.medium{
    font-size:15px!important
}
.large{
    font-size:18px!important
}
.xlarge{
    font-size:24px!important
}
.xxlarge{
    font-size:36px!important
}
.xxxlarge{
    font-size:48px!important
}
.jumbo{
    font-size:64px!important
}
.left-align{
    text-align:left!important
}
.right-align{
    text-align:right!important
}
.justify{
    text-align:justify!important
}
.center{
    text-align:center!important
}
.border-0{
    border:0!important
}
.border{
    border:1px solid #ccc!important
}
.padding-large{
    padding:12px 16px!important
}
.padding-64{
    padding-top:64px!important;padding-bottom:64px!important
}
.button:hover{
    color:#000!important;background-color:#ccc!important
}
/* Colors */
.text-white{
    color: rgb(255, 255, 255)!important
}
.amber,.hover-amber:hover{
    color:#000!important;background-color:#ffc107!important
}
.aqua,.hover-aqua:hover{
    color:#000!important;background-color:#00ffff!important
}
.light-blue,.hover-light-blue:hover{
    color:#000!important;background-color:#87CEEB!important
}
.cyan,.hover-cyan:hover{
    color:#000!important;background-color:#00bcd4!important
}
.light-green,.hover-light-green:hover{
    color:#000!important;background-color:#8bc34a!important
}
.khaki,.hover-khaki:hover{
    color:#000!important;background-color:#f0e68c!important
}
.lime,.hover-lime:hover{
    color:#000!important;background-color:#cddc39!important
}
.orange,.hover-orange:hover{
    color:rgb(255, 255, 255)!important;background-color:#ff5e00!important
}
.red,.hover-red:hover{
    color:#fff!important;background-color:#f44336!important
}
.sand,.hover-sand:hover{
    color:#000!important;background-color:#fdf5e6!important
}
.yellow,.hover-yellow:hover{
    color:#000!important;background-color:#ffeb3b!important
}
.white,.hover-white:hover{
    color:#000!important;background-color:#fff!important
}
.black,.hover-black:hover{
    color:#fff!important;background-color:#000!important
}
.grey,.hover-grey:hover,.gray,.hover-gray:hover{
    color:#000!important;background-color:#9e9e9e!important
}
.light-grey,.hover-light-grey:hover,.light-gray,.hover-light-gray:hover{
    color:#000!important;background-color:#f1f1f1!important
}
.dark-grey,.hover-dark-grey:hover,.dark-gray,.hover-dark-gray:hover{
    color:#fff!important;background-color:#616161!important
}
.pale-red,.hover-pale-red:hover{
    color:#000!important;background-color:#ffdddd!important
}
.pale-green,.hover-pale-green:hover{
    color:#000!important;background-color:#ddffdd!important
}
.pale-yellow,.hover-pale-yellow:hover{
    color:#000!important;background-color:#ffffcc!important
}
.pale-blue,.hover-pale-blue:hover{
    color:#000!important;background-color:#ddffff!important
}
.text-amber,.hover-text-amber:hover{
    color:#ffc107!important
}
.text-aqua,.hover-text-aqua:hover{
    color:#00ffff!important
}
.text-blue,.hover-text-blue:hover{
    color:#2196F3!important
}
.text-light-blue,.hover-text-light-blue:hover{
    color:#87CEEB!important}
.text-brown,.hover-text-brown:hover{
    color:#795548!important
}
.text-cyan,.hover-text-cyan:hover{
    color:#00bcd4!important
}
.text-blue-grey,.hover-text-blue-grey:hover,.text-blue-gray,.hover-text-blue-gray:hover{
    color:#607d8b!important
}
.border-black,.hover-border-black:hover{
    border-color:#000!important
}
.border-grey,.hover-border-grey:hover,.border-gray,.hover-border-gray:hover{
    border-color:#9e9e9e!important
}
.border-dark-grey,.hover-border-dark-grey:hover,.border-dark-gray,.hover-border-dark-gray:hover{
    border-color:#616161!important
}